name: Build Release
on:
  workflow_dispatch:
    inputs:
      versionName:
        required: true
        description: This releases version name
        default: "1.30"
      versionCode:
        required: true
        description: This releases version code
        default: "1330"
      preRelease:
        description: 'Mark as pre-release'
        required: true
        type: boolean
      description:
        required: false
        description: Description of this release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - run: chmod +x ./gradlew
      - run: ./gradlew assembleRelease
      - uses: actions/upload-artifact@v4
        with:
          name: app
          path: app/build/outputs/apk/release/*.apk
